.section {
  width: 100%;
  padding: 174px 0 100px 0;
  background-color: var(--secondary-background-color);
  min-height: 100vh;
}

.container {
  position: relative;
  background-image: image-set(url('../../img/home_background_@1x_webp.webp'), url('../../img/home_background_@1x_png.png'));
  background-repeat: no-repeat;
  background-position: center right 128px;
  background-size: 464px 526px;

  @media only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    background-image: image-set(url('../../img/home_background_@2x_webp.webp'), url('../../img/home_background_@2x_png.png'));
  }
}

.contentWrapper {
  width: 595px;
  padding: 48px 0 40px 0;
}

.contentWrapper h1 {
  font-size: 80px;
  font-weight: 600;
  line-height: 1.02;
  letter-spacing: -0.02em;
  margin-bottom: 20px;

  span {
    color: var(--primary-button-color);
    font-style: italic;
  }
}

.introText {
  width: 505px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

.getStartedLink {
  padding: 18px 50px;
  background-color: var(--primary-button-color);
  border-radius: 30px;
  color: var(--secondary-background-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.01em;
  display: inline-flex;
  align-items: center;
  gap: 18px;
  height: 60px;
  width: fit-content;
  transition: background-color 300ms ease-in;

  svg {
    height: 24px;
    width: 11px;
  }

  &:hover {
    background-color: var(--hovered-button-color);
  }
}

.featureBadge {
  position: absolute;
  right: 382px;
  bottom: 75px;
  width: 311px;
  height: 118px;
  border-radius: 20px;
  background-color: var(--primary-button-color);
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.featureBadge > span {
  width: 54px;
  height: 54px;
  border-radius: 13px;
  background-color: var(--secondary-background-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 30px;
    height: 30px;
  }
}

.badgeText {
  color: var(--secondary-font-color);
  display: inline-flex;
  flex-direction: column;
  gap: 8px;

  span {
    color: var(--secondary-background-color);
    font-size: 24px;
    font-weight: 700;
  }
}

.orangeElement,
.violetElement {
  position: absolute;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.orangeElement {
  top: 42px;
  right: 90px;
  width: 48px;
  height: 48px;
  background-color: var(--decorative-element-1);
  transform: rotate(15deg);

  svg {
    width: 20px;
    height: 20px;
    transform: rotate(-15deg);
  }
}

.violetElement {
  top: 190px;
  right: 587px;
  width: 40px;
  height: 40px;
  background-color: var(--decorative-element-2);
  transform: rotate(-15deg);

  svg {
    width: 10px;
    height: 17px;
    transform: rotate(15deg);
  }
}