.container {
  padding-top: 10px;
  overflow: hidden;
}

.contentWrapper {
  position: relative;
  background-image: url('../../img/home_background_@1x_png.png');
  background-image: image-set(url('../../img/home_background_@1x_webp.webp') 1x,
      url('../../img/home_background_@2x_webp.webp') 2x,
      url('../../img/home_background_@1x_png.png') 1x,
      url('../../img/home_background_@2x_png.png') 2x);
  background-repeat: no-repeat;
  background-size: 464px 526px;
  background-position: top 0 right 0;
  padding-top: 48px;
  padding-bottom: 40px;

  @media screen and (max-width: 375px) {
    background-size: contain;
    padding-top: 0;
    padding-bottom: 0;
    background-position: top 152px right 0;
  }
}

.contentWrapper h1 {
  max-width: 595px;
  font-size: 80px;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 1.02;
  letter-spacing: -0.02em;

  @media screen and (max-width: 375px) {
    font-size: 42px;
    margin-bottom: calc((100vw + 68.96px) / 1.04);
  }

  span {
    color: var(--primary-button-color);
    font-style: italic;
  }
}

.introText {
  max-width: 510px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: -0.02em;
  margin-bottom: 40px;

  @media screen and (max-width: 375px) {
    font-size: 16px;
    margin-bottom: 24px;
    max-width: 288px;
  }
}

.featureBadge {
  position: absolute;
  right: 254px;
  bottom: 72px;
  width: 311px;
  height: 118px;
  border-radius: 20px;
  background-color: var(--primary-button-color);
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 375px) {
    left: -10px;
    bottom: 228px;
    width: 280px;
    height: 86px;
    border-radius: 12px;
  }
}

.featureBadge > span {
  width: 54px;
  height: 54px;
  border-radius: 13px;
  background-color: var(--secondary-background-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 375px) {
    width: 48px;
    height: 48px;
    border-radius: 9px;
  }

  svg {
    width: 30px;
    height: 30px;
  }
}

.badgeText {
  color: var(--secondary-font-color);
  display: inline-flex;
  flex-direction: column;
  gap: 8px;

  @media screen and (max-width: 375px) {
    font-size: 14px;
  }

  span {
    color: var(--secondary-background-color);
    font-size: 24px;
    font-weight: 700;

    @media screen and (max-width: 375px) {
      font-size: 18px;
    }
  }
}

.orangeElement,
.violetElement {
  position: absolute;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.orangeElement {
  width: 48px;
  height: 48px;
  background-color: var(--decorative-element-1);
  transform: rotate(15deg);
  top: 43px;
  right: -39px;

  @media screen and (max-width: 375px) {
    top: 190px;
  }

  svg {
    width: 20px;
    height: 20px;
    transform: rotate(-15deg);
  }
}

.violetElement {
  width: 40px;
  height: 40px;
  background-color: var(--decorative-element-2);
  transform: rotate(-15deg);
  right: 458px;
  top: 189px;

  @media screen and (max-width: 375px) {
    top: 338px;
    left: -24px;
  }

  svg {
    width: 10px;
    height: 17px;
    transform: rotate(15deg);
  }
}