.detailsList {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  max-width: 900px;
  margin-bottom: 24px;
}

.detailsList > li {
  padding: 8px 16px;
  background-color: var(--primary-background-color);
  border-radius: 24px;
  width: fit-content;
}

.feature {
  color: var(--third-font-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-transform: capitalize;
}

.feature > span {
  color: var(--primary-font-color)
}