@import 'node_modules/modern-normalize/modern-normalize.css';
@import url('./variables.css');
@import url('./reset.css');

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--primary-font-color);
  background-color: var(--primary-background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 128px;
}