@import 'node_modules/modern-normalize/modern-normalize.css';
@import url('./variables.css');
@import url('./reset.css');

:root {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  color-scheme: light dark;
  color: var(--primary-font-color);
  background-color: var(--primary-background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-x: hidden; */
}

:root::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

:root::-webkit-scrollbar-thumb {
  background-color: var(--modal-backdrop-color);
  border-radius: 4px;
}

:root::-webkit-scrollbar-track {
  background-color: var(--primary-border-color);
}

.section {
  width: 100%;
  padding: 144px 0 80px 0;

  @media screen and (min-width: 1440px) {
    padding: 164px 0 100px 0;
  }
}

.section.home-section {
  min-height: 100vh;
  background-color: var(--secondary-background-color);
}

.container {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: clamp(16px, calc((100vw - 160px) / 10), 128px);
  padding-right: clamp(16px, calc((100vw - 160px) / 10), 128px);
}