.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 8px;
}

.cardTitle {
  color: var(--third-font-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.infoWrapper {
  display: flex;
  align-items: center;
  margin-right: 52px;
  flex-wrap: wrap;
}

.starIcon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.rating {
  margin-right: 32px;
}

.rating,
.price {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.rating::after {
  content: '';
  position: relative;
  display: inline-block;
  height: 16px;
  width: 1px;
  background-color: rgba(25, 26, 21, 0.20);
  right: -15.5px;
  top: 2px;
}

.price > span {
  color: var(--accent-color);
}

.heartBtn {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 24px;
  right: 24px;
}

.heartBtn > svg {
  stroke: var(--primary-font-color);
  fill: var(--secondary-background-color);
}

.heartBtn.favoriteBtn > svg {
  fill: var(--primary-button-color);
  stroke: var(--primary-button-color);
}

.heartBtn.disableBtn > svg {
  stroke: var(--form-text-color);
}

.heartBtn.disableBtn::before {
  content: 'Please login first';
  display: block;
  position: absolute;
  font-size: 14px;
  white-space: nowrap;
  background-color: var(--primary-background-color);
  padding: 4px;
  border-radius: 4px;
  border: 1px solid var(--primary-border-color);
  left: 50%;
  transform: translateX(-50%);
  top: -30px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}

.heartBtn.disableBtn:hover::before {
  opacity: 1;
}